<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div class="field">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
    <%= label_tag :remember_me %>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>

<%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter),:class => 'btn btn-mini btn-danger' %>
<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook),:class => 'btn btn-mini btn-danger' %>
<%= link_to 'Login with git hub', auth_at_provider_path(:provider => :github),:class => 'btn btn-mini btn-danger' %>
<%= link_to 'Login with Go  ogle', auth_at_provider_path(:provider => :google),:class => 'btn btn-mini btn-danger' %>