<!DOCTYPE html>
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <script type="text/javascript" src="../lib/jquery-1.7.2.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="../lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <!--<script type="text/javascript" src="../source/jquery.fancybox.js?v=2.0.6"></script>-->
    <!--<link rel="stylesheet" type="text/css" href="../source/jquery.fancybox.css?v=2.0.6" media="screen" />-->

    <script type="text/javascript">
      $(document).ready(function() {
        $('.fancybox').fancybox();
      });
    </script>

  </head>
  <body>
    <div id="inline1" style="width:400px;length :500;display: none;">
      <h3>Sign Up</h3>
      <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>

        <div class="actions"><%= f.submit %></div>
      <% end %>


      <%= link_to 'Login with Twitter', auth_at_provider_path(:provider => :twitter),:class => 'btn btn-mini btn-danger' %>
      <%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :facebook),:class => 'btn btn-mini btn-danger' %>
      <%= link_to 'Login with github',  auth_at_provider_path(:provider => :github),:class => 'btn btn-mini btn-danger' %>
      <%= link_to 'Login with google', auth_at_provider_path(:provider => :google),:class => 'btn btn-mini btn-danger' %>
    </div>
  </body>
</html>