
      <section id="main">
        <div id="inline1" style="width:500;display: none;" class="light-box">
          <div class="b-top">&nbsp;</div>
          <div class="b-center">
              <div class="box-signup">

                <%= form_for @user do |f| %>
                  <% if @user.errors.any? %>
                    <div class="error_messages">
                      <h2>Form is invalid</h2>
                      <ul>
                        <% for message in @user.errors.full_messages %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>




                  <div class="user-holder">
                    <label class="user-text">Email</label>
                    <%= f.text_field :email %>
  <%#*<input type="text" name="#" value="" class="txt-field5">%>
                  </div>
                  <div class="user-holder">
                    <label class="user-text">password</label>
                    <%= f.password_field :password %>
  <%#*<input type="password" name="#" value="" class="txt-field5">%>
                  </div>
                  <div class="user-holder">
                    <label class="user-text">confirm password</label>
  <%#*<input type="password" name="#" value="" class="txt-field5">%>
                    <%= f.password_field :password_confirmation %>
                  </div>
                  <div class="submit-holder">
  <%#*<input type="submit" name="#" value="" class="sign-btn">%>
                    <div class="actions"><%= f.submit %></div>
                  </div>
                </div>
                <ul class="feature-holder">
                  <li> <a href="<%= auth_at_provider_path(:provider => :google) %>" class="google-icon"></a> </li>

                  <li> <a href=" <%= auth_at_provider_path(:provider => :facebook) %>" class="facebook-icon"></a> </li>


                  <li> <a href="<%= auth_at_provider_path(:provider => :twitter) %>" class="twitter-icon"></a> </li>



                  <li> <a href=" <%= auth_at_provider_path(:provider => :github) %>" class="github-icon"></a> </li>
                </ul>
              <%#*</form>%>
            </div>
            <div class="b-btm">&nbsp;</div>
          <% end %>
        </div>
<%#*<div class="light-box">%>
<%#*<div class="b-top">&nbsp;</div>%>
<%#*<div class="b-center"> <a href="#" class="close-btn">close</a>%>
<%#*<form method="post" action="#">%>
<%#*<div class="box-signin">%>
<%#*<div class="user-holder">%>
<%#*<label class="user-text">Email</label>%>
<%#*<input type="text" name="#" value="" class="txt-field5">%>
<%#*</div>%>
<%#*<div class="user-holder">%>
<%#*<label class="user-text">password</label>%>
<%#*<input type="password" name="#" value="" class="txt-field5">%>
<%#*</div>%>
<%#*<div class="submit-holder">%>
<%#*<input type="submit" name="#" value="" class="sign-btn sign-in-btn">%>
<%#*<span class="text-or">or</span>%>
<%#*<input type="submit" name="#" value="" class="sign-btn">%>
<%#*</div>%>
<%#*</div>%>
<%#*<ul class="feature-holder">%>
<%#*<li> <a href="#" class="google-icon"></a> </li>%>
<%#*<li> <a href="#" class="facebook-icon"></a> </li>%>
<%#*<li> <a href="#" class="twitter-icon"></a> </li>%>
<%#*<li> <a href="#" class="github-icon"></a> </li>%>
<%#*</ul>%>
<%#*</form>%>
<%#*</div>%>
<%#*<div class="b-btm">&nbsp;</div>%>
<%#*</div>%>


      </section>
      <!--<footer id="footer"> <span>All <a href="#">codingstack.com</a> content and data are available under the Creative Commons Attribution 3.0 license</span> <span><a href="#">blog</a> | <a href="#">twitter</a> | <a href="#">buzz</a> | <a href="#">identi.ca</a> | <a href="#">code</a> | <a href="#">irc (web chat)</a> | <a href="#">feedback</a> | <a href="#">tos</a> | <a href="#">privacy</a></span> <span>Powered by <a href="#">codingstack.com</a> under the GNU Affero General Public License</span> </footer>-->
    <!--</div>-->

  <!--</body>-->
<!--</html>-->