<div class="q-post">
  <div class="q-top">
    <div class="counter-holder">
      <ul class="counter-nav">
        <li><span class="votes_count_<%= @question && @question.id%>">votes: <%= @question && @question.votes.sum(:status) %></span></li>
        <li class="green-bg"><span >answers:  <%= @question && @question.answers && @question.answers.count %> </span></li>
        <li><span id="views_count">views: <%= @question && @question.view_counter %></span></li>
      </ul>
      <strong class="by-date"> <span class="u-name"><a href="/users/<%= @question.user.id %>"><%= @question.user.email.gsub(/@.*/, "") %></a> <%= @question.user.rating %></span>
        <span>Asked<span class="ago-days"> <%= time_ago_in_words(@question.created_at) %> ago</span></span>
      </strong>
    </div>

    <div class="middle-holder">
      <div class="rating-icon-holder">


        <%=render :partial => "vote_rating"%>

      </div>
      <div class="user-question">
        <span class="user-img"><%= image_tag avatar_url(@question.user) %></span>

        <p class="question-txt"> <%= raw(@question.title) %> </p>
      </div>
      <div class="post-txt">
        <span class="post-heading"><%= raw(@question.title) %></span>

        <div class="post-discription">
          <!--<textarea class="post-info" cols="8" rows="8"></textarea>-->
          <span class="post-heading"><%= raw(@question.description) %></span>
        </div>
        <div class="comment-holder">
          <div class="comment-copy-Askquestion<%=@question.id%>">
            <!--Start --Comment-List -- Start-->
            <input type="hidden" name="comment-question-id" id="comment-question-id" value='<%= @question.id %>' />

            <% @comments.each do |comment| %>

              <% if comment.commentable_id == @question.id && comment.commentable_type == "Askquestion"%>
                <div class="inner-c">

                  <% if current_user.present? && current_user.id == comment.user_id %>
                   <%= best_in_place comment, :description, :path => comment_path(askquestion_id: comment.commentable_id, id: comment) %>

                  <% else %>
                    <span><%= comment.description %> </span>
                  <% end %>
                  <span class="by-post-user">
                        <a href="/users/<%= @question.user.id %>" class="us-name"> <%= comment.user.email.gsub(/@.*/, "") %></a>
                        <a href="#" class="by-date-user"><%= comment.created_at.strftime('%b%e, %g at %H:%M') %> - <%= time_ago_in_words(comment.created_at) %></a> <img src="/assets/comment-edit.png">
                  </span>
                </div>

              <% end %>

            <% end %>

          </div>

          <div class="create-comment">

              <%= form_for  @comment, :url =>  comments_path(askquestion_id: @question.id) do |f| %>

                  <% if @comment.errors.any? %>
                      <div id="errorExplanation">
                        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited
                          this post from being saved:</h2>
                        <ul>
                          <% @comment.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                  <% end %>

                  <div class="txt-field4">

                    <%= f.text_field :description %>
                  </div>

                  <%= f.submit :class=>"comment-btn create-btn"%>

              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="q-btm">&nbsp;</div>
</div>