<!--<link media="all" rel="stylesheet" type="text/css" href="css/style.css">-->
<!--<link rel="stylesheet" href="../demos.css"></link>-->
<%= stylesheet_link_tag "prettify.css" %>
<%#= stylesheet_link_tag "demo.css" %>
<%= stylesheet_link_tag "token-input-facebook.css" %>
<%= stylesheet_link_tag "token-input-mac.css" %>
<%= stylesheet_link_tag "token-input.css" %>
<%= javascript_include_tag "Markdown.Converter.js" %>
<%= javascript_include_tag "Markdown.Sanitizer.js" %>
<%= javascript_include_tag "Markdown.Editor.js" %>
<%= javascript_include_tag "jquery.tokeninput.js" %>

<script type="text/javascript">
    $(document).ready(function () {
        $("button.create-btn").live('click', function (e) {
            e.preventDefault();
//            alert("submit");
            data = $("div#wmd-preview").html();
            $("input#wmd-preview-input").val(data);
            <% if current_user.present? %>

            $('FORM').submit();
            <% else %>
            $("#fancybox").click();
            <% end %>
        });
        $('input').change(function () {
        });

        $(".like-up").click(function (e) {
            e.preventDefault();
            var question_id = $("#question_id").val();
            //console.log($(".like-up").attr("action"));
            $.ajax({
                type: 'POST',
                url: ' /askquestions/'+question_id+'/answers/vote_up',
                dataType:'json',
                success:function (data) {
                    $("#votes_count").html("Votes:"+data);

                }

            });


        });


        $(".unlike-down").click(function (e) {
            e.preventDefault();
            var question_id = $("#question_id").val();
            //console.log($(".like-up").attr("action"));
            $.ajax({
                type: 'POST',
                url: ' /askquestions/'+question_id+'/answers/vote_down',
                dataType:'json',
                success:function (data) {

                    $("#votes_count").html("Votes:"+data);

                }

            });


        });


        $(".eye").click(function (e) {
            e.preventDefault();
            var question_id = $("#question_id").val();
            //console.log($(".like-up").attr("action"));
            $.ajax({
                type: 'POST',
                url: '/askquestions/'+question_id+'/answers/views',
                dataType:'json',
                success:function (data) {

                    $("#views_count").html("Views:"+data);

                }

            });


        });

    });
</script>

<script>
    //    $(function(){
    //        $('textarea').autosize();
    //    });

    $(document).ready(function(){
        $('textarea').autosize();
    });
</script>


<!--////////////////////////////////////////////////////Code for the answer page/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
<div id="wrapper">
<section id="main">
<article id="content">
  <div class="q-post-holder">
    <div class="q-post">
      <div class="q-top">
        <div class="counter-holder">
          <ul class="counter-nav">
            <li><span id="votes_count">votes:<%= @question.votes %></span></li>
            <li class="green-bg"><span >answers:  <%= @question.answers.count %> </span></li>
            <li><span id="views_count">views: <%= @question.view_counter %></span></li>
          </ul>
          <strong class="by-date"> <span class="u-name"><a href="#">pyroxicated</a> 245</span>
            <span>Asked<span class="ago-days"> <%= time_ago_in_words(@question.created_at) %> ago</span></span>
          </strong>
        </div>
        <div class="middle-holder">
          <div class="rating-icon-holder">
            <ul class="a-q-flag">
              <li><a href="#" class="flag">flag</a></li>
              <li><%= link_to 'VIEWS',   views_askquestion_answers_path(@question.id), :class => "eye"  %>
                <input type="hidden" name="question_id" id="question_id" value='<%= @question.id %>' /></li>
            </ul>

            <a href="#" class="rating"><img src="/assets/star-icon.png" width="20" height="20" alt="image"></a>

            <div class="about-question">
              <!--<a href="#" class="like-up"></a>-->
              <%= link_to 'VOTE UP', vote_up_askquestion_answers_path(@question.id), :class => "like-up"  %>
              <input type="hidden" name="question_id" id="question_id" value='<%= @question.id %>' />

              <%= link_to  "VOTE DOWN", vote_down_askquestion_answers_path(@question.id), :class => "unlike-down" %>

            </div>



             <!--<a href="#" class="unlike-down">-->
               <%#= link_to 'VOTE_DOWN', vote_up_askquestion_answers_path(@askquestion_id)%>
             <!--</a>-->
          </div>
          <div class="user-question">
            <span class="user-img"><img src="/assets/img-1.jpg" width="42" height="42" alt="image"></span>

            <p class="question-txt"> <%= raw(@question.title) %> </p>
          </div>
          <div class="post-txt">
            <span class="post-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>

            <div class="post-discription">
              <textarea class="post-info" cols="8" rows="8"></textarea>
              <span class="post-heading">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</span>
            </div>
            <div class="comment-holder">
              <div class="comment-copy">
                <div class="inner-c"> <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                  <span class="by-post-user"> <a href="#" class="us-name">pyroxicated</a> <a href="#" class="by-date-user">Jan
                    3 '10 at 23:56</a> <img src="/assets/comment-edit.png"> </span></div>
              </div>
              <div class="create-comment">
                <form method="post" action="#">
                  <input type="text" name="#" value="" class="txt-field4">
                  <input type="submit" name="#" value="" class="comment-btn">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="q-btm">&nbsp;</div>
    </div>
    <!--////////////////////////////// -----Answer to the question -----------------////////////////////////////////////////////////////////////////////////////////////-->
    <div class="nav-holder">
      <ul class="active-question align-left">
        <li><a href="#" class="active"> <%= @question.answers.count %>  answers</a></li>
      </ul>
      <ul class="active-question">
        <li><a href="#">newest</a></li>
        <li><a href="#">votes</a></li>
        <li><a href="#">oldest</a></li>
      </ul>
    </div>
    <% @answer_of_the_question.each do |ans| %>
        <div class="q-post">
          <div class="q-top">
            <div class="counter-holder">
              <ul class="counter-nav">
                <li><span>Votes:<%#= @votes_on_answer.votes %> </span></li>
              </ul>
              <strong class="by-date"> <span class="u-name"><a href="#">pyroxicated</a> 245</span>
                <span>Asked<span class="ago-days"> <%= time_ago_in_words(ans.created_at) %> ago</span></span>
              </strong>
            </div>
            <div class="middle-holder">
              <div class="rating-icon-holder">
                <ul class="a-q-flag">
                  <li><a href="#" class="flag">flag</a></li>
                  <li><a href="#" class="link-icon">link</a></li>
                </ul>
                <div class="about-question"><a href="#" class="like-up"></a> <a href="#" class="unlike-down"></a></div>
              </div>
              <div class="user-question">
                <span class="user-img"> <img src="/assets/img-1.jpg" width="42" height="42" alt="image"></span>
                <span class="post-heading"><%= raw(ans.answer) %></span>
                <!--<span class="post-heading"><%#= raw(ans.answer) %></span>-->
                <div class="comment-holder">
                  <div class="comment-copy">
                    <div class="inner-c"><span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
											Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                      <span class="by-post-user"> <a href="#" class="us-name">pyroxicated</a> <a href="#" class="by-date-user">Jan
                        3 '10 at 23:56</a> <img src="/assets/comment-edit.png"> </span>
                    </div>
                  </div>
                  <div class="create-comment">
                    <form method="post" action="#">
                      <input type="text" name="#" value="" class="txt-field4">
                      <input type="submit" name="#" value="" class="comment-btn">
                    </form>
                  </div>
                </div>
              </div>
            </div>
   <!--////////////////////////////////---End of answer to the question --------////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->

          </div>
          <div class="q-btm">&nbsp;</div>
        </div>
    <% end %>



    <div class="answer-the-question">
      <p class="recent-question"><span class="answer-note">Answer the question</span></p>

      <div class="ask-question">
        <h2 class="a-y-question"></h2>

        <%= form_for @answer, :url => askquestion_answers_path(@askquestion_id) do |f| %>
            <% if @answer.errors.any? %>
                <div class="error_messages">
                  <h2>Form is invalid, prohibited this record from being saved</h2>
                  <ul>
                    <% for message in @answer.errors.full_messages %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>



            <div class="field">
              <%= f.hidden_field :answer, id: "wmd-preview-input" %>
              <div class="wmd-panel">
                <div id="wmd-button-bar"></div>
                <textarea class="wmd-input" id="wmd-input"></textarea>
              </div>
              <div id="wmd-preview" class="wmd-panel wmd-preview">
              </div>
            </div>
            <div class="create-holder"> <span class="btn-holder">
                   <button class="create-btn" name="Create Askquestion" value="Create Askquestion"></button>
            <small>or</small>
            <button class="create-btn cancel-btn" name="#" value=""></button>
            </span>
              <!--<span class="click-to-add">-->
              <!--<label for="wiki">wikki</label>-->
              <!--<input type="checkbox" name="#" id="wiki" value="">-->
              <!--</span>-->
            </div>
        <% end %>
      </div>
    </div>
  </div>
</article>
<script type="text/javascript">
    (function () {
        var converter1 = Markdown.getSanitizingConverter();
        var editor1 = new Markdown.Editor(converter1);
        editor1.run();
        var converter2 = new Markdown.Converter();
        converter2.hooks.chain("preConversion", function (text) {
            return text.replace(/\b(a\w*)/gi, "*$1*");
        });
        converter2.hooks.chain("plainLinkText", function (url) {
            return "This is a link to " + url.replace(/^https?:\/\//, "");
        });
        var help = function () {
            alert("Do you need help?");
        }
        var editor2 = new Markdown.Editor(converter2, "-second", { handler:help });
        editor2.run();
    })();
</script>
<aside id="sidebar">
  <div class="stay-us"><span class="stay-heading">share this on</span>
    <ul class="social-icon">
      <li><a href="#" class="twitter">twitter</a></li>
      <li><a href="#" class="facebook">facebook</a></li>
      <li><a href="#" class="messenger">messenger</a></li>
    </ul>
    <span class="stay-heading">stay in touch</span>

    <div class="facebook-plugin"><img src="/assets/coding-stack-img.png" width="271" height="60" alt="facebook"></div>
  </div>
  <div class="tags-title">
    <ul class="tags-nav">
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
      <li><a href="#">javascript</a></li>
      <li><a href="#">css</a></li>
      <li><a href="#">php</a></li>
      <li><a href="#">google</a></li>
    </ul>
  </div>
</aside>
</section>
<!--<footer id="footer"> <span>All <a href="#">codingstack.com</a> content and data are available under the Creative Commons Attribution 3.0 license</span> <span><a href="#">blog</a> | <a href="#">twitter</a> | <a href="#">buzz</a> | <a href="#">identi.ca</a> | <a href="#">code</a> | <a href="#">irc (web chat)</a> | <a href="#">feedback</a> | <a href="#">tos</a> | <a href="#">privacy</a></span> <span>Powered by <a href="#">codingstack.com</a> under the GNU Affero General Public License</span> </footer>-->
</div>
<!--/////////////////////////////////////////////////////////////End Code for the answer page////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->