<div class="rating-icon-holder">
  <ul class="a-q-flag">
    <li><a href="#" class="flag">flag</a></li>
    <li><%= link_to 'VIEWS', views_askquestion_path(question.id), :class => "eye" %>
      <input type="hidden" name="question_id" id="question_id" value='<%= question.id %>'/></li>
  </ul>

  <a href="#" class="rating"><img src="/assets/star-icon.png" width="20" height="20" alt="image"></a>

  <div class="about-question">
       <span class="ques_<%= question.id %>">
          <input type="hidden" class="rating" name="<%= question.id %>_Q_user_id" id="<%= question.id %>_Q_user_id" value='<%= @question.user.id %>'/>
          <% if current_user && current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").present? %>

              <% if current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").last.status == 1 %>
                  <input type="hidden" class="rating" name="question_id" id="question_id" value='<%= question.id %>'/>
                    <%= link_to "VOTE DOWN", 'javascript:void(0);', :class => "unlike-down", :data => question.id %>

              <% elsif current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").last.status == -1 %>

                  <%= link_to 'VOTE UP', 'javascript:void(0);', :class => "like-up", :data => question.id %>
                    <input type="hidden" class="rating" name="question_id" id="question_id" value='<%= question.id %>'/>
              <% end %>
          <% else %>
              <%= link_to 'VOTE UP', 'javascript:void(0);', :class => "like-up", :data => question.id %>
                <input type="hidden"  name="question_id" id="question_id" value='<%= question.id %>'/>
                <%= link_to "VOTE DOWN", 'javascript:void(0);', :class => "unlike-down", :data => question.id %>
          <% end %>
       </span>
  </div>
</div>