<body class="bg-2" onload="prettyPrint()">
    <div id="wrapper">
      <section id="main">
        <article id="content">
          <div class="holder-2">
            <p class="recent-question"><span>recent questions</span><%= Askquestion.all.count %></p>
            <ul class="active-question">
              <li><a href="#" class="active">active</a></li>
              <li><a href="#">hot</a></li>
            </ul>
          </div>
          <div class="ask-question"><span class="tell-question">What is your question? Be descriptive.</span>

            <form method="post" action="#" id="question_form">
              <input type="submit" name="#" value="" class="sbmt-btn">
              <input type="text" name="#" value="" class="txt-field">
            </form>
          </div>

          <!--Thinking sphinx-->

          <div class="apple_pagination">
            <%= will_paginate @askquestions, :container => false %>
          </div>

          <%= render :partial => "shared/questions_index"%>
          <span class="review">See the <a href="/askquestions">full list of questions</a> or <a href="#">browse by tags</a> Help us answer <a href="/askquestions/unanswered_questions">Unanswered
            questions</a> </span>
        </article>
        <aside id="sidebar">
          <div class="about-c-s">
            <div class="bg-top">&nbsp;</div>
                <div class="bg-center"><strong class="logo2"><a href="#">coding stack</a></strong>
                    <p>Questions and Answers regarding any tool, any language or any framework. It's 100% free, no registration required.</p>
                </div>

                <div class="bg-btm">&nbsp;</div>
          </div>
          <div class="own-site"><span>create your own question answer site in 10 seconds for free</span></div>
            <div class="search-site">

              <%= form_tag askquestions_path, method: :get do %>
                  <span class="st-site">search the site</span>

                  <div class="search-holder">
                    <div class="field">

                    <%= text_field_tag :search, params[:search], data: {autocomplete_source: Askquestion.order(:title).map(&:title)} %>
                    <span style="display: none;"><%= submit_tag "Search", name: nil %></span>
                      <input type="submit" name="#" value="" class="search-btn">

                    </div>
                  </div>
              <% end %>
            </div>
          <%= render :partial => 'shared/tags_all' %>
          <%= render :partial => 'shared/users_right_bar' %>
        </aside>
      </section>
    </div>

</body>
