<body class="bg-2" onload="prettyPrint()">
<div class="active"></div>
<div id="wrapper">
  <section id="main">
    <article id="content">
      <div class="holder-2">
        <p class="recent-question"><span>recent questions</span><%= Askquestion.all.count %></p>
        <ul class="active-question">
          <li><a href="#" class="active">active</a></li>
          <li><a href="#">hot</a></li>
        </ul>
      </div>
      <div class="ask-question">


        <form method="post" action="#">

        </form>
      </div>
      <%= form_tag askquestions_path, method: :get do %>
        <div class="field">
            <%#= text_field_tag :search, params[:search], data: {autocomplete_source: Askquestion.order(:title).map(&:title)} %>
            <%#= submit_tag "Search", name: nil %>
        </div>
      <% end %>
      <div class="apple_pagination">
        <%#= will_paginate @askquestions, :container => false %>
      </div>
      <%#= if @unanswered_question.each.answers %>
      <% @unanswered_question.each do |question| %>
          <% if question.answers.blank?  %>
              <div class="q-post-holder">
                <div class="q-post">
                  <div class="q-top">
                    <div class="counter-holder">
                      <ul class="counter-nav">
                        <li><span class="votes_count_<%= question.id%>"> Votes: <%= question.votes.sum(:status) %> </span></li>
                        <li class="green-bg"><span>Answer: <%= question.answers.count %></span></li>
                        <li><span>View: <%= question.view_counter %></span></li>
                      </ul>
                      <strong class="by-date"> <span class="u-name"><a href="#"><%= question.user.email %></a> <%= question.user.rating %></span>
                        <span>Asked<span class="ago-days"> <%= time_ago_in_words(question.created_at) %> ago</span></span>
                      </strong>
                    </div>
                    <div class="middle-holder">
                      <div class="rating-icon-holder">
                        <ul class="a-q-flag">
                          <li><a href="javascript:void(0);" data-id="<%= question.id %>" data-type="Askquestion" class="flag">flag</a></li>
                          <li><%#= link_to 'VIEWS',   views_askquestion_path(question.id), :class => "eye"  %>
                            <a href="javascript:void(0);" data-question-id="<%= question.id %>" class="eye">eye</a>
                            <input type="hidden" name="question_id" id="question_id" value='<%= question.id %>' /></li>
                        </ul>

                        <a href="javascript:void(0);" class="rating favourite"  data-question-id="<%= question.id %>"><img src="/assets/star-icon.png" width="20" height="20" alt="image"></a>

                        <div class="about-question">

                               <span class="ques_<%= question.id %>">
                                  <input type="hidden" name="<%= question.id %>_Q_user_id" id="<%= question.id %>_Q_user_id" value="<%= question.user_id %>" >

                                 <% if current_user && current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").present? %>

                                     <input type="hidden" name="last_voted_<%= question.id %>" id="last_voted_<%= question.id %>" value='<%= current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").last.status %>' />
                                     <% if current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").last.status == 1 %>
                                          <input type="hidden" class="rating" name="question_id" id="question_id" value='<%= question.id %>'/>
                                         <%= link_to "VOTE DOWN", 'javascript:void(0);', :class => "unlike-down", :data => question.id %>

                                      <% elsif current_user.votes.where(votable_id: question.id, Votable_type: "Askquestion").last.status == -1 %>

                                          <%= link_to 'VOTE UP', 'javascript:void(0);', :class => "like-up", :data => question.id %>
                                         <input type="hidden" class="rating" name="question_id" id="question_id" value='<%= question.id %>'/>
                                      <% end %>
                                  <% else %>
                                      <%= link_to 'VOTE UP', 'javascript:void(0);', :class => "like-up", :data => question.id %>
                                     <input type="hidden"  name="question_id" id="question_id" value='<%= question.id %>'/>
                                     <%= link_to "VOTE DOWN", 'javascript:void(0);', :class => "unlike-down", :data => question.id %>
                                 <% end %>
                               </span>
                        </div>
                      </div>
                      <div class="user-question">
                        <span class="user-img"><%= image_tag avatar_url(question.user) %><!--<img src="/assets/img-1.jpg" width="42" height="42" alt="image"/>--></span>

                        <p class="question-txt ">
                          <a href=<%=new_askquestion_answer_path(question.id) %>><%= raw(question.title) %></a>
                        </p>
                      </div>
                      <div class="tags-holder"><span class="tag-name">tags:</span>
                        <ul class="question-tags">

                          <% question.tags.each do |a| %>
                              <li><a href="#"><%= a.name %></a></li>
                          <% end %>
                          <!--<li><a href="#">tag 2</a></li>-->
                        </ul>





                      </div>
                    </div>
                  </div>
                  <div class="q-btm">&nbsp;</div>
                </div>
              </div>
          <% end  %>
      <% end %>
      <span class="review">See the <a href="/askquestions">full list of questions</a> or <a href="#">browse by tags</a> Help us answer <a href="/askquestions/unanswered_questions">Unanswered
        questions</a> </span>
    </article>
    <aside id="sidebar">
      <div class="about-c-s">
        <div class="bg-top">&nbsp;</div>
        <div class="bg-center"><strong class="logo2"><a href="#">coding stack</a></strong>

          <p>Questions and Answers regarding any tool, any language or any framework. It's 100% free, no registration
            required.</p>
        </div>
        <div class="bg-btm">&nbsp;</div>
      </div>
      <div class="own-site"><span>create your own question answer site in 10 seconds for free</span></div>
          <div class="search-site">

            <%= form_tag askquestions_path, method: :get do %>
                <span class="st-site">search the site</span>

                <div class="search-holder">
                  <div class="field">

                    <%= text_field_tag :search, params[:search], data: {autocomplete_source: Askquestion.order(:title).map(&:title)} %>
                    <span style="display: none;"><%= submit_tag "Search", name: nil %></span>
                    <input type="submit" name="#" value="" class="search-btn">

                  </div>
                </div>
            <% end %>
          </div>
          <%= render :partial => 'shared/tags_all' %>
          <%= render :partial => 'shared/users_right_bar' %>

      <!-- <div class="tags-title">
        <ul class="tags-nav">
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
          <li><a href="#">javascript</a></li>
          <li><a href="#">css</a></li>
          <li><a href="#">php</a></li>
          <li><a href="#">google</a></li>
        </ul>
      </div>
      <div class="user-holder"><strong class="user-heading">Top 5 users</strong>
        <ul class="user-bio">
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>(265)</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>(265)</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>(265)</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>(265)</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>(265)</span></li>
        </ul>
      </div>
      <div class="user-holder"><strong class="user-heading">Recent users</strong>
        <ul class="user-bio">
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>joined 2 months ago</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>joined 2 months ago</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>joined 2 months ago</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>joined 2 months ago</span></li>
          <li><span class="user-icon"><img src="/assets/img-1.jpg" width="34" height="33" alt="image"/></span>
            <span class="user-proxi"><a href="#">pyroxicated</a>joined 2 months ago</span></li>
        </ul>
      </div>
      <div class="stay-us"><span class="stay-heading">Stay in touch</span>

        <div class="facebook-plugin"><img src="/assets/coding-stack-img.png" width="271" height="60" alt="facebook">
        </div>
        <span class="stay-heading">subscribe</span> <a href="#" class="rss-field">Subscribe to all questions</a></div> -->
    </aside>
  </section>
</div>
</body>
